[Unit]
Description=Filed job queue
After=msmtp-setup.service
Requires=msmtp-setup.service

[Service]
Type=simple
User=appuser
Environment=FILED_STATE_FILE=/db/filed.db
ExecStart=/usr/local/bin/filed /jobs
Restart=on-failure

[Install]
WantedBy=multi-user.target
